/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu-item a {
  color: #e0e0e0 !important; /* Light text */
  transition: all 0.3s ease-in-out !important;
}

.masthead__menu-item a:hover {
  background-color: #3a3a3a !important; /* Soft hover effect */
  color: #ffffff !important;
  padding: 5px 10px !important;
}